._*
logs/*
awkdFiles/*
__pycache__
ggntuples_samples/
tmp
*.log
*.pyc
ntuplesReader.py
reader.py
plots/
outputs/
foo.py
selector_evaluator/input_files
condor_buffer/
outputs_BKP/
*.tar.gz
data/datasets/*.coff
pbs_buffer/*